@import '../variables/index.scss';

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 0 2.5rem;
  border-radius: 5rem;
  color: $dark;
  font-family: 'Knewave', cursive;
  font-size: 1.2rem;
}

.active {
  background: linear-gradient(180deg, $main-light, $main-dark);
}

.cta_gradient {
  background: linear-gradient(160deg, $secondary-light, $secondary-dark);
}

.cta_disabled {
  background: linear-gradient(160deg, #f6c12085, #f38a2774);
  color: rgba(26, 26, 26, 0.531);
}

.button_wrap {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
}

// media queries
@media (max-width: 700px) {
  .cta {
    width: 100%;
  }
}
