@import '../variables/index.scss';

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 0 2.5rem;
  border-radius: 5rem;
  color: $dark;
  font-family: 'Knewave', cursive;
  font-size: 1.2rem;
}

.active {
  background: linear-gradient(180deg, $main-light, $main-dark);
}

.cta_gradient {
  background: linear-gradient(160deg, $secondary-light, $secondary-dark);
  color: $dark;
}

.cta_disabled {
  background: linear-gradient(160deg, #f6c12085, #f38a2774);
  color: rgba(26, 26, 26, 0.531);
}

.button_wrap {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
}

.edit_button {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  border: 1px solid $dark;
  border-radius: 2rem;
  width: 3.5rem;
  height: 2.5rem;
  color: $dark;
}

.danger_button {
  background-color: $error;
  color: $background-main;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
}

.cancel_button {
  @extend .danger_button;
  background-color: $dark;
  color: $background-main;
}

// media queries
@media (max-width: 700px) {
  .cta {
    width: 100%;
  }
}
