@import '../variables/index.scss';

input {
  width: 100%;
  border: none;
  border-radius: 5rem;
  padding: 0 2rem;
  font-size: 1rem;
  outline: none;
  backdrop-filter: blur($blur);
  background-color: rgba(174, 174, 174, 0.265);
  transition: all 400ms;

  &::placeholder {
    color: $background-main;
    opacity: 0.7;
  }

  &:focus {
    outline: 1px solid $secondary-dark;
  }
}

textarea {
  @extend input;
  min-height: 10rem;
  border-radius: 1rem;
  padding: 1rem;
}

select {
  @extend input;
  height: 4rem;
  color: $background-main;
  padding: 0 2rem;

  & option {
    padding: 0rem 1rem;
  }
}

.auth_input {
  height: 3rem;
  background-color: $background-main;

  &::placeholder {
    color: $dark;
    opacity: 0.7;
  }
}
