.hero {
    height: fit-content;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms;

    & h1 {
      padding-bottom: 1rem;
    }
  }

  .heroContent {
    padding: 6rem 0rem 0rem;
    position: relative;

    @media (max-width: 480px) {
      height: 100dvh;
      height: 100vh;

      h1, h4 {
        text-align: center;
      }
    }
  }