@import '../../scss/variables';

.search_div {
    width: 100%;
    padding: 1rem 0 4rem 0;
}

.filter_div, .filter_countries_div {
    transition: all 400ms;
    width: 100%;
    max-width: 1000px;
    display: flex;
    padding: 1rem;
    gap: 2rem;
    overflow-x: auto;
    border-top: 1px solid #f2f2f28c;
}

.search_input {
    width: 100%;
    max-width: 600px;
    color: $background-main;
    height: 4rem;
    border: none;
    border-radius: 5rem;
    padding: 0 2rem;
    font-size: 1rem;
    outline: none;
    backdrop-filter: blur($blur);
    background-color: rgba(245, 245, 245, 0.265);
    transition: all 400ms;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $background-main;
        opacity: 0.7; /* Firefox */
      }
}

.continent, .country {
    color: $background-main;
    font-family: 'Knewave';
    font-size: 1.5rem;
    margin: 0;
    white-space: nowrap;

    &:hover {
        cursor: pointer;
    }

    &.active {
        text-decoration: underline 5px solid $secondary-dark;
    }
}

// Media queries
@media (max-width: 480px) {
    .continent {
        font-size: 1.2rem;
    }
}