@import '../../scss/variables/index.scss';

.outer_div {
  height: 100%;
}

.booked {
  background-color: #bf95782b !important;
  color: rgba(0, 0, 0, 0.228) !important;

  &:hover {
    cursor: unset !important;
  }
}
