@import "../variables/index.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a, li, ul {
  text-decoration: none;
  list-style: none;
  color: $background-main;
  font-family: 'Knewave', cursive;
  letter-spacing: 0.05rem;
}

h1, h2, h3 {
  font-family: 'Knewave', cursive;
  letter-spacing: 0.1rem;
  font-size: 3.5rem;
  font-weight: lighter;
}

p {
  color: $dark;
  font-family: 'Montserrat', sans-serif;
}

body {
    background: $background-main;
    color: $background-main;
}

.container {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  padding: 1rem;
}

section {
  padding-bottom: 4rem;
}

button {
  background: none;
  border: none;
  font-family: 'Knewave';

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}

// Date picker

.react-datepicker {
  border-radius: 1rem;
  background-color: $background-main;
  border: none;
  color: white;
  width: 100%;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day:hover {
  /* Background color for selected days, days within the range, and days on hover */
  background-color: $main-light;
  color: white; /* Text color for these days */
}

.react-datepicker__header {
  /* Background color for the header */
  background-color: $dark;
  & * {
    color: white; /* Text color for the header */
  }
}

// Media queries
@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 2rem;
    word-wrap: break-word;
  }
}