// Main colors
$background-main: #f2f2f2;
$dark: #1c1c1c;
$main-dark: #007563;
$main-light: #05a283;
$secondary-dark: #f38927;
$secondary-light: #f6bf20;
$error: #eb3d1a;

// Blur
$blur: 9px;
$blur-color: #2525254c;
